
@font-face {
    font-family: Koulen;
    src: url('../Fonts/Koulen/Koulen-Regular.ttf');
}

@font-face {
    font-family: Cairo;
    src: url('../Fonts/Cairo/Cairo-VariableFont_wght.ttf');
}

@font-face {
    font-family: Indie_Flower;
    src: url('../Fonts/Indie_Flower/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: Odibee_Sans;
    src: url('../Fonts/Odibee_Sans/OdibeeSans-Regular.ttf');
}

@font-face {
    font-family: Arvo;
    src: url('../Fonts/Arvo/Arvo-Regular.ttf');
}

@font-face {
    font-family: Secular;
    src: url('../Fonts/Secular/SecularOne-Regular.ttf');
}